<!-- /templates/page.quote-form.liquid -->
<section class="page page-top">
  <div class="wrapper">
    <header class="content-util">
    {% include 'breadcrumb' %}
    {% include 'social-icons' %}
    </header>
    <header class="page-header">
      <h1>{{ page.title }}</h1>
    </header>
  </div>
</section>

<section class="page">
  <div class="wrapper">
    <div class="content-container narrow rte">
      {{ page.content }}
    </div>
  </div>
</section>

<section class="page">
  <div class="wrapper">
    <div class="content-container narrow">
      <div data-shopify="lead-capture" data-shopify-id="995048"></div>
    </div>
  </div>
</section>
